.puzzle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 200px;
  height: 200px;
  outline: 1px solid grey;
}

.solved-message {
  text-align: center;
}

.button-container {
  margin-top: 15px;
}

.button-container button {
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 1.2em;
  margin: 0 0.3em 0 0.3em;
  border: none;
  border-radius: 2em;
  box-sizing: 2em;
  text-decoration: none;
  color: #ffffff;
  background-color: #4eb5f1;
  text-align: center;
  transition: all 0.2s;
}

.button-container button:hover {
  background-color: #4095c6;
}

@media only screen and (min-width: 768px) {
  .grid-container {
    width: 400px;
    height: 400px;
  }
}
